<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="com.salesfloor.PinterestPlugin" version="1.0.2">
	<name>PinterestPlugin</name>
	<description>Cordova plugin that handles Pinterest integration in mobile apps.</description>
	<author>Salesfloor</author>
	<keywords>pinterest,cordova,realizedmobile</keywords>
	<license>Apache 2.0 License</license>
	<engines>
		<engine name="cordova" version=">=3.0.0"/>
	</engines>
	<js-module src="www/pinterest.js" name="PinterestPlugin">
		<clobbers target="PinterestPlugin"/>
	</js-module>
	<!-- android -->
	<platform name="android">
		<config-file target="res/xml/config.xml" parent="/*">
			<feature name="PinterestPlugin">
				<param name="android-package" value="com.realizedmobile.pinterestplugin.PinterestPlugin"/>
			</feature>
		</config-file>
		<source-file src="src/android/libs/pinit-sdk-1.0.jar" target-dir="libs/" />
		<source-file src="src/android/PinterestPlugin.java" target-dir="src/com/realizedmobile/pinterestplugin/" />
	</platform>
	<platform name="amazon-fireos">
		<config-file target="res/xml/config.xml" parent="/*">
			<feature name="PinterestPlugin">
				<param name="android-package" value="com.realizedmobile.pinterestplugin.PinterestPlugin"/>
			</feature>
		</config-file>
		<source-file src="src/android/libs/pinit-sdk-1.0.jar" target-dir="libs/" />
		<source-file src="src/android/PinterestPlugin.java" target-dir="src/com/realizedmobile/pinterestplugin/" />
	</platform>
	<!-- ios -->
	<platform name="ios">
		<config-file target="config.xml" parent="/*">
			<feature name="PinterestPlugin">
				<param name="ios-package" value="PinterestPlugin"/>
			</feature>
		</config-file>
		<header-file src="src/ios/PinterestPlugin.h"/>
		<source-file src="src/ios/PinterestPlugin.m"/>
		<!-- release pinterest framework -->
		<framework src="src/ios/Pinterest.embeddedframework/Pinterest.framework" custom="true"/>
	</platform>
</plugin>
